# Práctica "TITANIC"

In [23]:
# Responder a las siguientes preguntas usando SQL sobre la tabla que acabáis de crear:
# Cuántos supervivientes hay (columna Survived)
# De todos los pasajeros, cuántos hombres y mujeres hay (columna Sex)
# Cuál es el valor del ticket más caro que se compró (columna Fare)

import sqlite3 as sq
import requests
import csv
import pandas as pd
# Create tables for (https://raw.githubusercontent.com/4GeeksAcademy/machine-learning-content/master/assets/titanic_train.csv)

# Create conexion and create titatin.db
con = sq.connect("titanic.db")
# # con.close()

cursor = con.cursor()

In [24]:

# PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

# Crear la tabla:
con.execute("""CREATE TABLE Passenger (
    PassengerId INT PRIMARY KEY,
    Survived INT NOT NULL,
    Pclass INT NOT NULL,
    Name VARCHAR(255) NOT NULL,
    Sex VARCHAR(10) NOT NULL,
    Age FLOAT NOT NULL,
    SibSp INT NOT NULL,
    Parch INT NOT NULL,
    Ticket VARCHAR(255) NOT NULL,
    Fare FLOAT NOT NULL,
    Cabin VARCHAR(255),
    Embarked VARCHAR(1) NOT NULL
)""")

con.commit()

con.close()

OperationalError: table Passenger already exists

In [6]:


# # Ejecutar la consulta para eliminar la tabla
# cursor.execute("DROP TABLE IF EXISTS Passenger")

# # Guardar los cambios en la base de datos
# con.commit()

# # Cierra la conexión
# con.close()

# print("La tabla Passenger ha sido eliminada.")

# Agregar los datos
df = pd.read_csv(r"\titanic_train.csv")
df.to_sql("Passenger", con, if_exists="replace", index=False)
con.close()

df = pd.read_csv(r"\titanic_train.csv")
print(df.head())

consult = "SELECT * FROM passenger"
consult_passenger = pd.read_sql_query(consult, con)
print(consult_passenger)

https://raw.githubusercontent.com/4GeeksAcademy/machine-learning-content/master/assets/titanic_train.csv

In [ ]:

# 1) Cuántos supervivientes hay (columna Survived)
cursor.execute("SELECT COUNT(*) FROM Passenger WHERE Survived = 1")
quantity_survived = cursor.fetchone()[0]
print("Quantity survived:", quantity_survived)

# 2) De todos los pasajeros, cuántos hombres y mujeres hay (columna Sex)
cursor.execute("SELECT SE)
result = cursor.fetchall()
for row in result:
    sex, quantity = row
    print(f"sex: {sex}, Quantity: {quantity}")

# 3) Cuál es el valor del ticket más caro que se compró (columna Fare)
cursor.execute("SELECT MAX(fare) FROM passenger")
max_value_ticket = cursor.fetchone()[0]
con.close()
print("Maximum ticket value:", max_value_ticket)

# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [ ]:
# Example reading the SQL database from here

# from dotenv import load_dotenv
# from sqlalchemy import create_engine
# import pandas as pd

# # load the .env file variables
# load_dotenv()

# connection_string = f"mysql+pymysql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}?autocommit=true"
# engine = create_engine(connection_string)
# engine.connect()

# dataframe = pd.read_sql("Select * from books;", engine)
# print(dataframe.describe())

In [ ]:
# Example importing the CSV here

# dataframe = pd.read_csv('../path/to/file.csv')
# dataframe.describe()