# Práctica "TITANIC"

In [47]:
# Responder a las siguientes preguntas usando SQL sobre la tabla que acabáis de crear:
# Cuántos supervivientes hay (columna Survived)
# De todos los pasajeros, cuántos hombres y mujeres hay (columna Sex)
# Cuál es el valor del ticket más caro que se compró (columna Fare)

import sqlite3 as sq
import requests
import csv
import pandas as pd

# Create tables for (https://raw.githubusercontent.com/4GeeksAcademy/machine-learning-content/master/assets/titanic_train.csv)

con = sq.connect("titanic.db")

df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/machine-learning-content/master/assets/titanic_train.csv")

df.to_sql("titanic_data", con, if_exists="replace", index=False)

consulta_insertar = "INSERT INTO Passenger SELECT * FROM titanic_data"

con.commit()

con.close()

In [61]:
con = sq.connect("titanic.db")

# Eliminar la tabla existente si existe
cursor = con.cursor()
cursor.execute("DROP TABLE IF EXISTS Passenger")

In [49]:
# Crear la tabla:
con.execute("""CREATE TABLE Passenger (
    PassengerId INT PRIMARY KEY,
    Survived INT NOT NULL,
    Pclass INT NOT NULL,
    Name VARCHAR(255) NOT NULL,
    Sex VARCHAR(10) NOT NULL,
    Age FLOAT NOT NULL,
    SibSp INT NOT NULL,
    Parch INT NOT NULL,
    Ticket VARCHAR(255) NOT NULL,
    Fare FLOAT NOT NULL,
    Cabin VARCHAR(255),
    Embarked VARCHAR(1) NOT NULL
)""")

con.commit()

con.close()

In [60]:
con = sq.connect("titanic.db")
cursor = con.cursor()

cursor.execute("SELECT COUNT(*) FROM titanic_data WHERE Survived = 1")
num_supervivientes = cursor.fetchone()[0]
print("Número de supervivientes:", num_supervivientes)

con.close()

Número de supervivientes: 342

In [59]:

con = sq.connect("titanic.db")
cursor = con.cursor()

cursor.execute("SELECT Sex, COUNT(*) FROM titanic_data GROUP BY Sex")
generos = cursor.fetchall()
for genero in generos:
    print(f"{genero[0]}: {genero[1]}")

con.close()

female: 314
male: 577

In [62]:
con = sq.connect("titanic.db")
cursor = con.cursor()

cursor.execute("SELECT MAX(Fare) FROM titanic_data")
ticket_mas_caro = cursor.fetchone()[0]
print("Valor del ticket más caro:", ticket_mas_caro)

con.close()

Valor del ticket más caro: 512.3292